* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", Georgia, 'Liberation Serif', serif;
}

h1 {
    position: absolute;
    color: #FFF4E8;
    font-size: 150px;
    text-shadow: 2px 2px 0 #FFF4E8;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.menu_main ul {
  display: flex;
  width: 100%;
  list-style: none;
}


.firenze {
    background-image: var(--firenze-background-img);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.roma {
    background-image: var(--roma-background-img);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.menu_main-item {
    flex: 1;
    height: 100vh;
}

.menu_main-button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    border: 0;
    position: relative;
    font-size: 100px;
    color: #FFF4E8;
}

.menu_main-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  pointer-events: none;
}

.menu_main:hover .menu_main-button::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.menu_main:hover .menu_main-button:hover::after {
  background-color: transparent;
}

.main-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05)), var(--firenze-background-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.menu {
    width: calc(100vw - 128px);
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding-top: 73px;
    margin-left: 64px;
    margin-right: 64px;
}

.left-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:flex-start;
}

.menu_button {
    font-size: 23px;
    background-color: transparent;
    border: 0;
    color: #FFF4E8;
}

.reserve-button {
    min-width: 350px;
    min-height: 60px;
    border: 1px solid #FFF4E8;
}

.contacts {
    margin-left: 60px;
}
